footer{
    background-color: #484BF0;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 15px;
    background-color: var(--white-color);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a .Icon{
    font-size: 2em;
    color: #484BF0;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: var(--black-color);
    transition: 0.5s;
}

.socialIcons a:hover .Icon{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: var(--white-color);
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: var(--black-color);
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
 
@media only screen and (max-width: 768px) {
    .footerContainer {
        padding: 40px 20px 10px;
    }
    .socialIcons a {
        padding: 10px;
        margin: 5px;
    }
    .footerNav ul li a {
        margin: 10px;
        font-size: 1.1em;
    }
    .footerBottom {
        padding: 15px;
    }
}

@media only screen and (max-height: 480px) {
    .footerContainer {
        padding: 30px 20px 10px;
    }
    .socialIcons {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .socialIcons a {
        margin: 5px;
    }
    .footerNav {
        margin: 20px 0;
    }
    .footerNav ul li a {
        margin: 10px;
        font-size: 1em;
    }
    .footerBottom {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .footerNav {
        display: flex;
        flex-direction: column;
}

}
