.analytics {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .analytics {
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    .analytics {
        font-size: 14px; 
    }
}