.up_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.up_logo {
    height: 50px;
}

.subjects a {
    position: relative;
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
    margin-left: 40px;
}

.subjects a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: .3s ease;
}

.subjects a:hover::before {
    width: 100%;
}