.video {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--main-color);
    position: relative; 
    flex-direction: column;
}

.race {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
}

.video-player {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: end;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px var(--shadow);
}

@media (max-width: 768px) {
    .video {
        width: 100%;
    }
    .video-player {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .video-player {
        flex-direction: column;
        align-items: center;
    }
}