body {
    background-color: var(--main-color);
}
.screens {
    margin-top: 145px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .screens {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .screens {
        margin-top: 70px;
        flex-direction: column;
    }
}

