.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: var(--white-color);
    font-weight: 700;
    margin-right: 25px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--white-color);
    transition: .3s ease;
}

.navbar a:hover::before {
    width: 100%;
}

.btn-login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--white-color);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btn-login:hover {
    background: var(--white-color);
    color: var(--main-color);
}